$font-stack:    Helvetica, sans-serif;

$primary-color: #003a8c;
$primary-color-dark: #ff512f;
$primary-color-dark-gradient: linear-gradient(to right, #ff512f, #dd2476);;

$background-color: #FFF;
$background-color-dark: black;
$text-color-dark: #FFF;