@import '~antd/dist/antd.css';
@import 'colors';

.App {
  text-align: center;
}

.theme-toggle {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.bulb-text {
  color: #ffd666;
}

.star-text {
  color: gainsboro;
}

.dark-background {
  background-color: darkblue;
}

